<nav class="navbar navbar-dark bg-light center" *ngIf="profile">
  <ul class="list-group list">
    <li>
      <a href="https://github.com/Harshal3416" target="_blank">GIT HUB</a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/harshal-belamkar/" target="_blank"
        >LINKED IN</a
      >
    </li>
  </ul>
</nav>

<nav class="navbar navbar-dark bg-dark center">
  <div class="row center">
    <div class="col-2"></div>
    <div class="col-8">
      <span class="navbar-brand mb-0 h1">Movies Search</span>
    </div>

    <div class="col-2">
      <img
        class="profile"
        (click)="profile = !profile"
        src="../assets/img/profile.jpg"
        alt=""
      />
    </div>
  </div>
</nav>

<nav class="navbar navbar-dark bg-dark center">
  <input type="text" [(ngModel)]="name" />
  <button type="button" (click)="getData()">
    Search
  </button>
</nav>

<div class="back">
  <div class="card" style="width: 18rem;" *ngFor="let movie of MovieData">
    <img
      *ngIf="movie.Poster !== 'N/A'"
      class="card-img-top"
      style="height: 350px;"
      src="{{ movie.Poster }}"
    />
    <img
      *ngIf="movie.Poster === 'N/A'"
      class="card-img-top"
      src="../assets/img/na.jpg"
    />

    <div class="card-body">
      <h5 class="card-title">{{ movie.Title }}</h5>
      <p class="card-text">{{ movie.Year }}</p>
    </div>
  </div>
</div>

<div class="back" *ngIf="!MovieData">
  <p>NO DATA</p>
</div>
